{% extends 'base.html' %}

{% block content %}

<div class="container-lg justify-content-center my-5">
    <div class="text-center">
        <h2>Create</h2>
    </div>
    <div class="row justify-content-center my-5">
        <div class="col-lg-6">
            <form method="POST" action="/create" enctype="multipart/form-data">
                <div class="row justify-content-end m-4">
                    <input type="file" name="file" class="ml-5 mt-5">                
                </div>
            <div class="row justify-content-center">
                <button type="submit" class="decorated-button">Submit</button>
            </div>
        </div>
        </form>
        </div>
    </div>
    
</div>

{% endblock %}