{% extends 'base.html' %}
<script type="text/javascript">// <![CDATA[
    function loading(){
        $("#loading").show();
        $("#content").hide();       
    }
// ]]></script>
{% block content %}

    <div class="row">
        <div class="col-6 mx-auto mt-5 text-center">

            <h1 class="mb-2">Dreamify Your Image</h1>

            <div class="row justify-content-center">
                <div ckass="col-auto">
                    <div id="loading"></div>
                    <div id="content">
                    {% if to_generate %}
                        <div class="mt-3">
                            <img src="data:image/png;base64,{{ to_generate | safe }}" class="mb-5 mt-5 displayed-image" style="width:600px;">
                        </div>
                        <form action="{{ url_for('to_generate', upload_id=upload_id) }}" method="post" class="mb-5">
                            <input type="submit" name="submit-button" class="decorated-button" value="Generate" onclick="loading();">
                        </form>
                    </div>
                    {% elif generated %}
                        <div class="mt-3">
                            <img src="data:image/png;base64,{{ generated | safe }}" class="mb-5 mt-5 displayed-image" style="width:600px;">
                        </div>
                        <form action="{{ url_for('to_generate', upload_id=upload_id) }}" method="post" class="mb-5">
                            <input type="submit" name="download-button" for="dowload-button" value="Download" class="decorated-button">
                        </form>

                    {% else %}
                        <h1 class="center">No image found.</h1>
                    {% endif %}
                    <!-- Insert Generate Button -->
                    <!-- Insert model parameters -->
                </div>
            </div>
            </form>

            </div>
        </div>
    </div>

</div>
{% endblock %}