{% extends 'base.html' %}
<script type="text/javascript">// <![CDATA[
    function loading(){
        $("#loading").show();
        $("#content").hide();       
    }
// ]]></script>
{% block content %}

    <div class="row">
        <div class="col-8 mx-auto mt-5 text-center">

            <h1 class="mb-2">Dreamify Your Image</h1>

            <div class="row justify-content-center">
                <div ckass="col-auto">
                    <div id="loading"></div>
                    <div id="content">
                    {% if to_generate %}
                        <div class="mt-3">
                            <img src="data:image/png;base64,{{ to_generate | safe }}" class="mb-5 mt-5 displayed-image" style="width:600px;">
                        </div>
                        <form action="{{ url_for('to_generate', upload_id=upload_id) }}" method="post" class="mb-5">
                        <div class="form-group">
                            
                            <label for="pyramid-size-select">Pyramid size</label>
                            <select name="pyramid_size" id="pyramid-size-select">
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            
                                <label for="layers-select">Layer</label>
                                <select name="layers" id="layers-select">
                                    <option selected value="layer1">1</option>
                                    <option value="layer2">2</option>
                                    <option value="layer3">3</option>
                                    <option value="layer4">4</option>
                                </select>
                            
                            
                            <label for="iterations-select">Iterations</label>
                                <select name="iterations" class="form-select" id="iterations-select">
                                    <option selected value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <br>
                            <input type="submit" name="submit-button" class="decorated-button" value="Generate" onclick="loading();">
                        </form>
                    </div>
                    {% elif generated %}
                        <div class="mt-3">
                            <img src="data:image/png;base64,{{ generated | safe }}" class="mb-5 mt-5 displayed-image" style="width:600px;">
                        </div>
                        <form action="{{ url_for('download', generate_id=generate_id) }}" method="post" class="mb-5">
                            <input type="submit" name="download-button" class="decorated-button" value="Download image">
                        </form>                          

                    {% else %}
                        <h1 class="center">No image found.</h1>
                    {% endif %}
                    <!-- Insert Generate Button -->
                    <!-- Insert model parameters -->
                </div>
            </div>
            </form>

            </div>
        </div>
    </div>

</div>
{% endblock %}