{% extends 'base.html' %}

{% block content %}

	
	<div class="container mt-5">
		<h1 class="carousel-title text-center">Deep Dream Examples</h1>
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
			  <div class="carousel-item active" style="background-image: url(static/dd_examples/ex1.jpeg);">
			  </div>
			  <div class="carousel-item" style="background-image: url(static/dd_examples/ex2.jpeg);">
			  </div>
			  <div class="carousel-item" style="background-image: url(static/dd_examples/ex3.jpg)">
			  </div>
			</div>
			<a href="#carouselExampleIndicators" class="carousel-control-prev" role="button" data-slide="prev">
				<span class="sr-only">Previous</span>
				<span class="carousel-control-prev-icon" aria-hidden="true">
			</a>
			<a href="#carouselExampleIndicators" class="carousel-control-next" role="button" data-slide="next">
				<span class="sr-only">Next</span>
				<span class="carousel-control-next-icon" aria-hidden="true">
			</a>
		  </div>
	</div>
	<script>
		$(document).ready(function() {
			$("#carouselExampleIndicators").carousel();
		});
	</script>
{% endblock %}